<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Listado de Usuarios</title>
    </head>
    <body>

<h2>Listado de Usuarios</h2>

{% for usuario in usuarios %}
    <hr>
    <h3>Usuario ID {{ usuario.id }}</h3>
    <p><strong>Documento identidad:</strong> {{ usuario.docidentidad }}</p>
    <p><strong>Nombre:</strong> {{ usuario.nombre }}</p>
    <p><strong>Apellidos:</strong> {{ usuario.apellido1 }} {{ usuario.apellido2 }}</p>
    <p><strong>Correo:</strong> {{ usuario.email }}</p>
    <p><strong>Password:</strong> {{ usuario.password }}</p>
    <p><strong>Último login:</strong> {{ usuario.lastlogin|date('d-m-Y') }}</p>
    <p><strong>Dinero disponible:</strong> {{ usuario.dinero }}€</p>
    <p><strong>Baneado:</strong> {{ usuario.estaBaneado == 1 ? 'Sí' : 'No' }}</p>

    {% if usuario.estaBaneado == 1 %}
    <p><strong>Razón baneo:</strong> {{ usuario.razonbaneo }}</p>
    <p><strong>Solicitar desbaneo: </strong><a href="/unban/{{usuario.id}}"><button>Solicitar unban</button></a></p>
    {% endif %}

    <p><strong>Verificado:</strong> {{ usuario.estaVerificado == 1 ? 'Sí' : 'No' }}</p>
    {% if usuario.estaVerificado == 1 %}
        <p><strong>Cara DNI:</strong> {{ usuario.docimg1 }}</p>
        <img src="../docs/{{ usuario.docimg1 }}" alt="Cara DNI" />
        <p><strong>Parte trasera DNI:</strong> {{ usuario.docimg2 }}</p>
        <img src="../docs/{{ usuario.docimg2 }}" alt="Parte trasera DNI" />
        <p><strong>Selfie:</strong> {{ usuario.docselfie }}</p>
        <img src="../docs/{{ usuario.docselfie }}" alt="Selfie" />
    {% else %}
    <p>Solicita tu verificación de identidad: <a href="/verificar/{{usuario.id}}"><button>Verificar tu identidad</button></a></p> 
    {% endif %}
{% endfor %}

    </body>
</html>
