<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Listado de Usuarios</title>
    </head>
    <body>

<h2>Listado de Usuarios</h2>

{% for usuario in usuarios %}
    <hr>
    <h3>Usuario ID {{ usuario.id }} - Rol: {{ usuario.isAdmin == 1 ? 'Administrador' : 'Usuario normal' }}</h3><a href="{{path('checkUser_DNI', {'id': usuario.id})}}"><button>Ver usuario</button></a> <a href="{{path('editUser', {'id': usuario.id})}}"><button>Editar usuario</button></a> <a href="{{path('removeUser', {'id': usuario.id})}}"><button>Eliminar usuario</button></a>    {% if usuario.isAdmin == true %}
    <p><strong>Roles (user/admin):</strong> <a href="{{path('removeadminUser', {'id': usuario.id})}}"><button>Quitar admin</button></a></p>
    {% else %}
    <p><strong>Roles (user/admin):</strong> <a href="{{path('adminUser', {'id': usuario.id})}}"><button>Hacer admin</button></a>
    {% endif %}
    <p><strong>Documento identidad:</strong> {{ usuario.docidentidad }}</p>
    <p><strong>Nombre:</strong> {{ usuario.nombre }}</p>
    <p><strong>Apellidos:</strong> {{ usuario.apellidos }}</p>
    <p><strong>Fecha nacimiento:</strong> {{usuario.fechaNacimiento|date('d-m-Y') }}</p>
    <p><strong>Correo:</strong> {{ usuario.email }}</p>
    <p><strong>Password:</strong> {{ usuario.password }}</p>
    <p><strong>Último login:</strong> {{ usuario.lastlogin|date('d-m-Y') }}</p>
    <p><strong>Dinero disponible:</strong> {{ usuario.dinero }}€</p>
    <p><strong>Baneado:</strong> {{ usuario.estaBaneado == 1 ? 'Sí' : 'No' }}</p>

    {% if usuario.estaBaneado == 1 %}
    <p><strong>Razón baneo:</strong> {{ usuario.razonbaneo }}</p>
    <p><strong>¿Desbanear usuario? </strong><a href="{{path('unbanUser', {'id': usuario.id})}}"><button>Unban</button></a></p>
    {% else %}
    <a href="{{path('banUser', {'id': usuario.id})}}"><button>Banear usuario</button></a>
    {% endif %}

    {% if usuario.estaVerificado == 1 %}
    <p><strong>Verificado: Sí</strong>
    {% elseif usuario.estaVerificado == 2 %}
    <p><strong>Verificado: En proceso de revisión</strong>
    {% else %}
    <p><strong>Verificado: No</strong>
    {% endif %}

    {% if usuario.estaVerificado == 1 %}
        <p><strong>Cara DNI:</strong> {{ usuario.docimg1 }}</p>
        <img src="..{{ usuario.docimg1 }}" height="300" width="500" alt="Cara DNI" />
        <p><strong>Parte trasera DNI:</strong> {{ usuario.docimg2 }}</p>
        <img src="..{{ usuario.docimg2 }}" height="300" width="500" alt="Parte trasera DNI" />
        <p><strong>Selfie:</strong> {{ usuario.docselfie }}</p>
        <img src="..{{ usuario.docselfie }}" height="300" width="500" alt="Selfie" /><br>
        <p>Este usuario esta verificado.</p>
    {% elseif usuario.estaVerificado == 2 %}
    <p><strong>Cara DNI:</strong> {{ usuario.docimg1 }}</p>
        <img src="..{{ usuario.docimg1 }}" height="300" width="500" alt="Cara DNI" />
        <p><strong>Parte trasera DNI:</strong> {{ usuario.docimg2 }}</p>
        <img src="..{{ usuario.docimg2 }}" height="300" width="500" alt="Parte trasera DNI" />
        <p><strong>Selfie:</strong> {{ usuario.docselfie }}</p>
        <img src="..{{ usuario.docselfie }}" height="300" width="500" alt="Selfie" /><br>
    <a href="{{path('verifyAdminUser', {'id': usuario.id})}}"><button>Aceptar sus documentos de identidad</button></a>  <a href="{{path('verifyDenegar', {'id': usuario.id})}}"><button>Denegar sus documentos de identidad</button></a>
    {% elseif usuario.estaVerificado == -1 %}
    <p>Solicitud de verificación rechazada. El usuario debe subir de nuevo su identidad.</p>
    <p>Razón del rechazo: {{ usuario.razonrechazoverificacion }}</p>
    {% else %}
    <p>Este usuario no ha subido ningun documento de identidad.</p> 
    {% endif %}
{% endfor %}

    </body>
</html>
