{% extends "base.html.twig" %}
{% block title %}Usuario{% endblock %}
{% block body %}
<h1>Admin panel - Desbanear usuario</h1><hr>
<p>Estas en la ficha del usuario: {{usuario.id}} - {{usuario.nombre}} {{usuario.apellidos}}</p><hr>
<p>¿Estás seguro que quieres quitarle el baneo? El usuario fue baneado por: {{usuario.razonbaneo}}</p>
{{ form(formulario) }}
{% endblock %}