<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>DNI Check</title>
    </head>
    <body>
<h2>Usuario ID {{ usuario.id }}</h2>
<p><strong>Documento identidad:</strong> {{ usuario.docidentidad }}</p>
<p><strong>Nombre:</strong> {{ usuario.nombre }}</p>
<p><strong>Apellidos:</strong> {{ usuario.apellido1 }} {{ usuario.apellido2 }}</p>
<p><strong>Fecha nacimiento:</strong> {{ usuario.fechaNacimiento|date('d-m-Y')}}</p>
<p><strong>Correo:</strong> {{ usuario.email }}</p>
<p><strong>Password:</strong> {{ usuario.password }}</p>
<p><strong>Último login:</strong> {{ usuario.lastlogin|date('d-m-Y') }}</p>
<p><strong>Dinero disponible:</strong> {{ usuario.dinero }}€</p>
<p><strong>Baneado:</strong> {{ usuario.estaBaneado == 1 ? 'Sí' : 'No' }}</p>
{% if usuario.estaBaneado == 1 %}
<p><strong>Razón baneo:</strong> {{ usuario.razonbaneo }}</p>
<p><strong>Solicitar desbaneo:</strong><a href="/unban"><button>Solicitar unban</button></a></p>
{% endif %}
<p><strong>Verificado:</strong> {{ usuario.estaVerificado == 1 ? 'Sí' : 'No' }}</p>
{% if usuario.estaVerificado == 1 %}
    <p><strong>Cara DNI:</strong> {{ usuario.docimg1 }}</p>
    <img src="..{{ usuario.docimg1 }}" height="300" width="500" />
    <p><strong>Parte trasera DNI:</strong> {{ usuario.docimg2 }}</p>
    <img src="..{{ usuario.docimg2 }}" height="300" width="500" />
    <p><strong>Selfie:</strong> {{ usuario.docselfie }}</p>
    <img src="..{{ usuario.docselfie }}" height="300" width="500" />
{% else %}
<p>Solicita tu verificacion de identidad:<a href="/verificar"><button>Verificar tu identidad</button></a></p> 
{% endif %}


    </body>
</html>