<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dooplo - Gaming HTML Template</title>

    <link rel="shortcut icon" href="/assets/images/fav.png" type="image/x-icon">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/fontawesome.min.css">
    <link rel="stylesheet" href="/assets/css/jquery-ui.css">
    <link rel="stylesheet" href="/assets/css/plugin/nice-select.css">
    <link rel="stylesheet" href="/assets/css/plugin/magnific-popup.css">
    <link rel="stylesheet" href="/assets/css/plugin/slick.css">
    <link rel="stylesheet" href="/assets/css/arafat-font.css">
    <link rel="stylesheet" href="/assets/css/plugin/animate.css">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>
    <!-- start preloader -->
    <div class="preloader align-items-center justify-content-center">
        <div class="load">
            <hr/><hr/><hr/><hr/>
        </div>
    </div>
    <!-- end preloader -->

    <!-- header-section start -->
    <header class="header-section header-menu">
        <nav class="navbar navbar-expand-lg p-0">
            <div class="container">
                <nav class="navbar w-100 navbar-expand-lg">
                    <a href="index.html" class="navbar-brand d-flex align-items-center gap-2">
                        <img src="/assets/images/fav.png" class="logo" alt="logo">
                        <img src="/assets/images/logo-alt.png" class="logo-alt" alt="logo-alt">
                    </a>
                    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-content">
                        <i class="fas fa-bars"></i>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navbar-content">
                        <ul class="navbar-nav gap-3 py-4 py-lg-0 m-auto align-self-center">
                            <li class="dropdown show-dropdown">
                                <a class="dropdown-toggle dropdown-nav" href="javascript:void(0)">Home</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="index.html">Home One</a></li>
                                    <li><a class="dropdown-item" href="index-2.html">Home Two</a></li>
                                    <li><a class="dropdown-item" href="index-3.html">Home Three</a></li>
                                    <li><a class="dropdown-item" href="index-4.html">Home Four</a></li>
                                    <li><a class="dropdown-item" href="index-5.html">Home Five</a></li>
                                </ul>
                            </li>
                            <li>
                                <a class="dropdown-nav" href="play-as-you-go.html">Play</a>
                            </li>
                            <li class="dropdown show-dropdown">
                                <a class="dropdown-toggle dropdown-nav" href="javascript:void(0)">games</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="games.html">games</a></li>
                                    <li><a class="dropdown-item" href="games-details.html">games Details</a></li>
                                </ul>
                            </li>
                            <li>
                                <a class="dropdown-nav" href="matchfinders.html">Matchfinders</a>
                            </li>
                            <li>
                                <a class="dropdown-nav" href="leaderboard.html">leaderboard</a>
                            </li>
                            <li class="dropdown show-dropdown">
                                <a class="dropdown-toggle dropdown-nav active" href="javascript:void(0)">Pages</a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item" href="about-us.html">About</a>
                                    </li>
                                    <li class="sub-dropdown">
                                        <a class="dropdown-item dropdown-toggle" href="javascript:void(0)">tournament</a>
                                        <ul class="sub sub-menu dropend">
                                            <li><a class="dropdown-item" href="tournament.html">tournament</a></li>
                                            <li><a class="dropdown-item" href="tournament-details.html">tournament Details</a></li>
                                        </ul>
                                    </li>
                                    <li class="sub-dropdown">
                                        <a class="dropdown-item dropdown-toggle" href="javascript:void(0)">accounts</a>
                                        <ul class="sub sub-menu dropend">
                                            <li><a class="dropdown-item" href="accounts-1.html">accounts one</a></li>
                                            <li><a class="dropdown-item" href="accounts-2.html">accounts two</a></li>
                                            <li><a class="dropdown-item" href="accounts-3.html">accounts three</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="affiliate.html">affiliate</a>
                                    </li>
                                    <li class="sub-dropdown">
                                        <a class="dropdown-item dropdown-toggle" href="javascript:void(0)">careers</a>
                                        <ul class="sub sub-menu dropend">
                                            <li><a class="dropdown-item" href="careers.html">careers</a></li>
                                            <li><a class="dropdown-item" href="careers-details.html">careers Details</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="community.html">community</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="features.html">features</a>
                                    </li>
                                    <li class="sub-dropdown">
                                        <a class="dropdown-item dropdown-toggle" href="javascript:void(0)">help center</a>
                                        <ul class="sub sub-menu dropend">
                                            <li><a class="dropdown-item" href="help-center.html">help center one</a></li>
                                            <li><a class="dropdown-item" href="help-center-2.html">help center two</a></li>
                                            <li><a class="dropdown-item" href="help-center-3.html">help center three</a></li>
                                        </ul>
                                    </li>
                                    <li class="sub-dropdown">
                                        <a class="dropdown-item dropdown-toggle" href="javascript:void(0)">group finder</a>
                                        <ul class="sub sub-menu dropend">
                                            <li><a class="dropdown-item" href="group-finder.html">group finder</a></li>
                                            <li><a class="dropdown-item" href="group-details.html">group Details</a></li>
                                        </ul>
                                    </li>
                                    <li class="sub-dropdown">
                                        <a class="dropdown-item dropdown-toggle" href="javascript:void(0)">profile</a>
                                        <ul class="sub sub-menu dropend">
                                            <li><a class="dropdown-item" href="public-profile.html">public profile</a></li>
                                            <li><a class="dropdown-item" href="private-profile.html">private profile</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="privacy-policy.html">privacy policy</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="terms-conditions.html">terms conditions</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="how-works.html">how works</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="error.html">404</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown show-dropdown">
                                <a class="dropdown-toggle dropdown-nav" href="javascript:void(0)">shop</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="shop.html">shop</a></li>
                                    <li><a class="dropdown-item" href="shop-details.html">shop details one</a></li>
                                    <li><a class="dropdown-item" href="shop-details-2.html">shop details two</a></li>
                                    <li><a class="dropdown-item" href="shop-details-3.html">shop details three</a></li>
                                    <li><a class="dropdown-item" href="shop-cart.html">shop cart</a></li>
                                    <li><a class="dropdown-item" href="calculate-shipping-1.html">shipping one</a></li>
                                    <li><a class="dropdown-item" href="calculate-shipping-2.html">shipping two</a></li>
                                    <li><a class="dropdown-item" href="checkout.html">checkout</a></li>
                                </ul>
                            </li>
                        </ul>
                        <div class="right-area position-relative d-flex gap-3 gap-xxl-5 align-items-center">
                            <div class="single-item form-search-area">
                                <div class="form-search-btn cmn-head dot">
                                    <div class="icon-area d-center">
                                        <img src="/assets/images/icon/search-icon.png" alt="Icon">
                                    </div>
                                </div>
                                <div class="main-area px-2 py-2 py-sm-4 px-sm-4 form-search-content">
                                    <form action="#" class="search-form">
                                        <input type="text" placeholder="Enter Keywords.......">
                                        <button class="cmn-btn">Search</button>
                                    </form>
                                </div>
                            </div>
                            <div class="btn-area d-block d-lg-none d-flex gap-3 align-items-center">
                                <a href="sign-in.html">Sign In</a>
                                <a href="sign-up.html" class="cmn-btn">Sign up</a>
                            </div>
                            <div class="single-item d-none d-lg-block shop-cart-area">
                                <div class="shop-cart-btn cmn-head dot">
                                    <img src="/assets/images/icon/cart-icon.png" class="cart-icon max-un" alt="icon">
                                    <div class="abs-area">
                                        <span class="d-center">3</span>
                                    </div>
                                </div>
                                <div class="main-area px-4 py-4 shop-cart-content">
                                    <div class="head-area mb-4">
                                        <h6>Shopping Cart <span>3</span></h6>
                                    </div>
                                    <ul>
                                        <li>
                                            <a href="javascript:void(0)" class="d-flex align-items-center">
                                                <div class="img-area d-center">
                                                    <img src="/assets/images/products-image-9.png" class="max-un" alt="image">
                                                </div>
                                                <div class="text-area">
                                                    <h6 class="m-0">Esports Black Shirt</h6>
                                                    <p class="mdtxt prize-area mt-2">$ 19.99 USD X 01</p>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)" class="d-flex align-items-center">
                                                <div class="img-area d-center">
                                                    <img src="/assets/images/products-image-10.png" class="max-un" alt="image">
                                                </div>
                                                <div class="text-area">
                                                    <h6 class="m-0">Esports Black Shirt</h6>
                                                    <p class="mdtxt prize-area mt-2">$ 19.99 USD X 01</p>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)" class="d-flex align-items-center">
                                                <div class="img-area d-center">
                                                    <img src="/assets/images/products-image-11.png" class="max-un" alt="image">
                                                </div>
                                                <div class="text-area">
                                                    <h6 class="m-0">Esports Black Shirt</h6>
                                                    <p class="mdtxt prize-area mt-2">$ 19.99 USD X 01</p>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="total-cart-area mt-5 py-3 d-flex justify-content-between">
                                            <span>Total:</span>
                                            <span>$64.99</span>
                                        </li>
                                        <li class="d-center">
                                            <div class="acc-btn-area">
                                                <div class="btn-area mt-4 d-flex text-nowrap gap-4">
                                                    <a href="javascript:void(0)" class="cmn-btn">Shopping cart</a>
                                                    <a href="javascript:void(0)" class="cmn-btn alt">Go to checkout</a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="single-item d-none d-lg-block chat-area">
                                <div class="chat-btn cmn-head position-relative">
                                    <img src="/assets/images/icon/chat-icon.png" class="chat-icon max-un" alt="icon">
                                    <div class="abs-area">
                                        <span class="d-center">3</span>
                                    </div>
                                </div>
                                <div class="main-area chat-content">
                                    <div class="chat-item text-nowrap">
                                        <div class="chat-top-side">
                                            <div class="chat-form">
                                                <form action="#">
                                                    <div class="form-group py-1 input-area d-flex align-items-center">
                                                        <input type="text" placeholder="Search">
                                                        <img src="/assets/images/icon/search-icon.png" alt="icon">
                                                    </div>
                                                </form>
                                            </div>
                                            <ul>
                                                <li>
                                                    <img src="/assets/images/leaderboard-img-1.png" alt="image">
                                                    <div>
                                                        <h6>Prénom Nom</h6>
                                                        <p>
                                                            <span class="status orange"></span>
                                                            offline
                                                        </p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <img src="/assets/images/leaderboard-img-2.png" alt="image">
                                                    <div>
                                                        <h6>Prénom Nom</h6>
                                                        <p>
                                                            <span class="status green"></span>
                                                            online
                                                        </p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <img src="/assets/images/leaderboard-img-3.png" alt="image">
                                                    <div>
                                                        <h6>Prénom Nom</h6>
                                                        <p>
                                                            <span class="status orange"></span>
                                                            offline
                                                        </p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <img src="/assets/images/leaderboard-img-4.png" alt="image">
                                                    <div>
                                                        <h6>Prénom Nom</h6>
                                                        <p>
                                                            <span class="status green"></span>
                                                            online
                                                        </p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <img src="/assets/images/leaderboard-img-5.png" alt="image">
                                                    <div>
                                                        <h6>Prénom Nom</h6>
                                                        <p>
                                                            <span class="status orange"></span>
                                                            offline
                                                        </p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <img src="/assets/images/leaderboard-img-6.png" alt="image">
                                                    <div>
                                                        <h6>Prénom Nom</h6>
                                                        <p>
                                                            <span class="status green"></span>
                                                            online
                                                        </p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <img src="/assets/images/leaderboard-img-7.png" alt="image">
                                                    <div>
                                                        <h6>Prénom Nom</h6>
                                                        <p>
                                                            <span class="status green"></span>
                                                            online
                                                        </p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <img src="/assets/images/leaderboard-img-8.png" alt="image">
                                                    <div>
                                                        <h6>Prénom Nom</h6>
                                                        <p>
                                                            <span class="status green"></span>
                                                            online
                                                        </p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <img src="/assets/images/leaderboard-img-9.png" alt="image">
                                                    <div>
                                                        <h6>Prénom Nom</h6>
                                                        <p>
                                                            <span class="status green"></span>
                                                            online
                                                        </p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <img src="/assets/images/leaderboard-img-10.png" alt="image">
                                                    <div>
                                                        <h6>Prénom Nom</h6>
                                                        <p>
                                                            <span class="status orange"></span>
                                                            offline
                                                        </p>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="main">
                                            <div class="d-flex px-3 py-2 align-items-center gap-3">
                                                <img src="/assets/images/leaderboard-img-1.png" alt="image">
                                                <div>
                                                    <p>Chat with Vincent Porter</p>
                                                </div>
                                            </div>
                                            <ul class="chat-main">
                                                <li class="you">
                                                    <div class="entete">
                                                        <span class="status green"></span>
                                                        <p>Dana</p>
                                                        <span class="mdr">10:12AM, Today</span>
                                                    </div>
                                                    <div class="triangle"></div>
                                                    <p class="message">
                                                        Which game you play now?
                                                    </p>
                                                </li>
                                                <li class="me">
                                                    <div class="entete">
                                                        <span class="mdr">10:12AM, Today</span>
                                                        <p>Dana</p>
                                                        <span class="status blue"></span>
                                                    </div>
                                                    <div class="triangle"></div>
                                                    <p class="message">
                                                        I play Stronghold Kingdoms
                                                    </p>
                                                </li>
                                                <li class="me">
                                                    <div class="entete">
                                                        <span class="mdr">10:12AM, Today</span>
                                                        <p>Dana</p>
                                                        <span class="status blue"></span>
                                                    </div>
                                                    <div class="triangle"></div>
                                                    <p class="message">
                                                        OK
                                                    </p>
                                                </li>
                                                <li class="you">
                                                    <div class="entete">
                                                        <span class="status green"></span>
                                                        <p>Dana</p>
                                                        <span class="mdr">10:12AM, Today</span>
                                                    </div>
                                                    <div class="triangle"></div>
                                                    <p class="message">
                                                        Which game you play now?
                                                    </p>
                                                </li>
                                                <li class="me">
                                                    <div class="entete">
                                                        <span class="mdr">10:12AM, Today</span>
                                                        <p>Dana</p>
                                                        <span class="status blue"></span>
                                                    </div>
                                                    <div class="triangle"></div>
                                                    <p class="message">
                                                        I play Stronghold Kingdoms
                                                    </p>
                                                </li>
                                                <li class="me">
                                                    <div class="entete">
                                                        <span class="mdr">10:12AM, Today</span>
                                                        <p>Dana</p>
                                                        <span class="status blue"></span>
                                                    </div>
                                                    <div class="triangle"></div>
                                                    <p class="message">
                                                        OK
                                                    </p>
                                                </li>
                                            </ul>
                                            <div class="chat-footer text-right text-end">
                                                <form action="#">
                                                    <textarea cols="10" rows="2" placeholder="Type your message"></textarea>
                                                    <div class="upload-send px-2 d-flex justify-content-between">
                                                        <label for="files">
                                                            <img src="/assets/images/icon/upload-img.png" alt="icon">
                                                        </label>
                                                        <input type="file" id="files" class="d-none">
                                                        <button type="submit">Send</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single-item d-none d-lg-block notifications-area">
                                <div class="notifications-btn cmn-head dot">
                                    <img src="/assets/images/icon/nofify-icon.png" class="bell-icon max-un" alt="icon">
                                    <div class="abs-area notify">
                                        <span class="d-center">3</span>
                                    </div>
                                </div>
                                <div class="main-area px-4 py-4 notifications-content">
                                    <div class="head-area d-flex justify-content-between">
                                        <h5>Notifications</h5>
                                        <span class="mdtxt">Mark all as Read</span>
                                    </div>
                                    <ul>
                                        <li>
                                            <a href="javascript:void(0)" class="d-flex">
                                                <div class="img-area">
                                                    <img src="/assets/images/leaderboard-img-1.png" class="max-un" alt="image">
                                                </div>
                                                <div class="text-area">
                                                    <p><b>Nick Grissom</b> posted a comment on your <span>status update</span></p>
                                                    <p class="mdtxt time-area mt-2">2 minutes ago</p>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)" class="d-flex">
                                                <div class="img-area">
                                                    <img src="/assets/images/leaderboard-img-1.png" class="max-un" alt="image">
                                                </div>
                                                <div class="text-area">
                                                    <p><b>Nick Grissom</b> posted a comment on your <span>status update</span></p>
                                                    <p class="mdtxt time-area mt-2">2 minutes ago</p>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="javascript:void(0)" class="d-flex">
                                                <div class="img-area">
                                                    <img src="/assets/images/leaderboard-img-1.png" class="max-un" alt="image">
                                                </div>
                                                <div class="text-area">
                                                    <p><b>Nick Grissom</b> posted a comment on your <span>status update</span></p>
                                                    <p class="mdtxt time-area mt-2">2 minutes ago</p>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="d-center">
                                            <a href="javascript:void(0)" class="cmn-btn alt">View all Notifications</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="single-item d-none d-lg-block user-area">
                                <div class="profile-area d-flex align-items-center">
                                    <span class="user-profile cmn-head d-flex gap-2 align-items-center">
                                        <img src="/assets/images/leaderboard-img-1.png" alt="User">
                                        <i class="icon-d-arrow-thin"></i>
                                    </span>
                                </div>
                                <div class="main-area user-content">
                                    <div class="head-area py-4 text-center">
                                        <h5>Hello,</h5>
                                        <p class="email-id">x***9@bunlets.com</p>
                                    </div>
                                    <div class="cash-top">
                                        <div class="cash-point d-flex gap-3 align-items-center">
                                            <div class="img-area d-center">
                                                <img src="/assets/images/icon/cash-icon.png" alt="icon">
                                            </div>
                                            <div class="info-area">
                                                <h5>$150.00</h5>
                                                <span>Balance</span>
                                            </div>
                                        </div>
                                        <div class="cash-point">
                                            <div class="d-flex justify-content-between">
                                                <div class="d-flex gap-3">
                                                    <div class="img-area d-center">
                                                        <img src="/assets/images/icon/cash-icon.png" alt="icon">
                                                    </div>
                                                    <div class="info-area">
                                                        <h5>50</h5>
                                                        <span>Points</span>
                                                    </div>
                                                </div>
                                                <div class="btn-area">
                                                    <a href="javascript:void(0)">Exchange</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="acc-btn-area py-4 px-4">
                                        <a href="javascript:void(0)" class="account-area d-center justify-content-between">
                                            <div class="d-flex gap-2">
                                                <span class="icon-item d-center">
                                                    <img src="/assets/images/icon/user-6.png" alt="icon">
                                                </span>
                                                <span>My Account</span>
                                            </div>
                                            <div class="icon-arrow d-center">
                                                <i class="icon-c-arrow-single"></i>
                                            </div>
                                        </a>
                                        <div class="btn-area mt-5 d-flex gap-4">
                                            <a href="javascript:void(0)" class="cmn-btn">Deposit</a>
                                            <a href="javascript:void(0)" class="cmn-btn alt">Withdraw</a>
                                        </div>
                                    </div>
                                    <div class="bottom-area">
                                        <a href="javascript:void(0)" class="d-flex justify-content-center py-3 gap-2">
                                            <div class="icon-log">
                                                <img src="/assets/images/icon/logout-icon.png" alt="icon">
                                            </div>
                                            Signout
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
        </nav>
    </header>
    <!-- header-section end -->

    <!-- inner banner start -->
    <section class="banner-section inner-banner account">
        <div class="banner-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="d-flex flex-wrap gap-3 gap-md-0 justify-content-between">
                            <h6>Hola, {{user.nombre}}</h6>
                            <p>Último inicio de sesión: {{user.lastlogin|date('d-m-Y')}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- banner-section end -->

    <!-- Account Section start -->
    <section class="account-section">
        <div class="overlay pb-120">
            <div class="container profile-area">
                <div class="row cus-mar">
                    <div class="col-lg-4">
                        <div class="single-box link-area">
                            <a href="accounts-1.html" class="d-flex gap-2">
                                <div class="icon-box d-center">
                                    <img src="/assets/images/icon/dashboard-icon.png" alt="icon">
                                </div>
                                Panel
                            </a>
                            <a href="accounts-2.html" class="d-flex gap-2">
                                <div class="icon-box d-center">
                                    <img src="/assets/images/icon/wallet-icon.png" alt="icon">
                                </div>
                                Billetera
                            </a>
                            <a href="accounts-3.html" class="d-flex gap-2 active">
                                <div class="icon-box d-center">
                                    <img src="/assets/images/icon/affiliate-icon.png" alt="icon">
                                </div>
                                Afiliados
                            </a>
                            <div class="log-out-area mt-5">
                                <form action="#">
                                    <button class="d-flex signup-btn justify-content-center m-auto py-3 gap-2">
                                        <span class="icon-log">
                                            <img src="/assets/images/icon/logout-icon.png" alt="icon">
                                        </span>
                                        Cerrar
                                    </button>
                                </form>
                            </div>
                        </div>
                        <div class="single-box text-center">
                            <div class="comment-box m-auto d-center">
                                <img src="/assets/images/icon/comment-icon2.png" class="max-un" alt="icon">
                            </div>
                            <h5 class="my-3">Need Help?</h5>
                            <p>Have questions or concerns regrading your account?Our experts are here to help!.</p>
                            <a href="sign-up.html" class="cmn-btn mt-5">Chat with US</a>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="single-box">
                            <div class="row gaming-top-info">
                                <div class="col-lg-8 mb-3">
                                    <div class="head-area">
                                        <h4 class="mb-2">Programa de Afiliados Pro</h4>
                                        <p>¡Consigue un extra mensual con nuestro programa de invitados!</p>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <div class="affiliate-box dots">
                                        <div class="row cus-mar pb-xl-0 pb-4 justify-content-between">
                                            <div class="col-xxl-7 col-xl-6">
                                                <div class="single-input">
                                                    <label for="referral">Link de invitación</label>
                                                    <div class="input-area py-1 d-flex">
                                                        <input type="text" id="referral" placeholder="Link" disabled value="https://casinoroyal.es/register?i={{user.username}}" autocomplete="off">
                                                        <button class="copy-text">
                                                            <img src="/assets/images/icon/copy-icon.png" class="max-un" alt="icon">
                                                        </button>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xxl-4 col-xl-6">
                                                <span>Compartir</span>
                                                <div class="social mt-3">
                                                    <ul class="d-flex">
                                                        <li><a href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a></li>
                                                        <li><a href="javascript:void(0)"><i class="fab fa-youtube"></i></a></li>
                                                        <li><a href="javascript:void(0)"><i class="fab fa-instagram"></i></a></li>
                                                        <li><a href="javascript:void(0)"><i class="fab fa-linkedin-in"></i></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row align-items-center">
                                        <div class="col-lg-5">
                                            <div class="affiliate-box text-center">
                                                <div class="single-input">
                                                    <div class="icon">
                                                        <img src="/assets/images/icon/earning-icon-1.png" class="max-un" alt="icon">
                                                    </div>
                                                    <h6 class="mt-3 mb-2">{{user.dineroafiliados}} EUR</h6>
                                                    <p class="mdtxt">¡Dinero ganado! </p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-7">
                                            <div class="affiliate-box text-center">
                                                <div class="single-input w-xl-75 w-100 m-auto">
                                                    <div class="icon">
                                                        <img src="/assets/images/icon/earning-icon-2.png" class="max-un" alt="icon">
                                                    </div>
                                                    <h6 class="mt-3 mb-2">¡Cuantos más traigas, más dinero!</h6>
                                                    <p class="mdtxt">Ganarás <span>0,50 EUR</span> por cada amigo que traigas, además del 10% de sus pérdidas en nuestro casino. </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="px-4 py-4 transaction-box">
                                        <div class="head-area row gap-3 gap-lg-0 align-items-center justify-content-between">
                                            <div class="col-xl-6 col-md-4 col-sm-3">
                                                <h6 for="referral">Referral</h6>
                                            </div>
                                            <div class="col-xl-5 col-md-7 col-sm-8">
                                                <div class="date-area input-area py-0 d-center">
                                                    <input id ="dateStart" type="text" placeholder="dd/m/yyyy">
                                                    <input id ="dateEnd" type="text" placeholder="dd/m/yyyy">
                                                    <div class="icon">
                                                        <img src="/assets/images/icon/date-icon.png" class="max-un" alt="icon">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="table-responsive mt-4">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Level</th>
                    <th scope="col">Username</th>
                    <th scope="col">Earned</th>
                    <th scope="col">Email</th>
                </tr>
            </thead>
            <tbody>
                {% for afiliado in afiliados %}
                    <tr>
                        <th scope="row">
                            <p>{{ afiliado.fechaRegistro|date('d M') }}</p>
                        </th>
                        <td>
                            <p>{{ afiliado.level }}</p>
                        </td>
                        <td>
                            <p>{{ afiliado.invitadoUser.username }}</p>
                        </td>
                        <td>
                            <p>{{ afiliado.afiliadoUser.dineroafiliados }} EUR</p>
                        </td>
                        <td>
                            <p>{{ afiliado.invitadoUser.email }}</p>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Account Section end -->

    <!-- Bottom Menu area start -->
    <div class="header-menu d-block d-lg-none position-fixed bottom-0 w-100 z-1">
        <div class="right-area position-relative px-2 px-sm-5 py-2 d-flex gap-3 gap-xxl-5 justify-content-between align-items-center">
            <div class="single-item shop-cart-area">
                <div class="shop-cart-btn cmn-head dot">
                    <img src="/assets/images/icon/cart-icon.png" class="cart-icon max-un" alt="icon">
                    <div class="abs-area">
                        <span class="d-center">3</span>
                    </div>
                </div>
                <div class="main-area px-2 py-4 px-sm-4 shop-cart-content">
                    <div class="head-area mb-4">
                        <h6>Shopping Cart <span>3</span></h6>
                    </div>
                    <ul>
                        <li>
                            <a href="javascript:void(0)" class="d-flex align-items-center">
                                <div class="img-area d-center">
                                    <img src="/assets/images/products-image-9.png" class="max-un" alt="image">
                                </div>
                                <div class="text-area">
                                    <h6 class="m-0">Esports Black Shirt</h6>
                                    <p class="mdtxt prize-area mt-2">$ 19.99 USD X 01</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" class="d-flex align-items-center">
                                <div class="img-area d-center">
                                    <img src="/assets/images/products-image-10.png" class="max-un" alt="image">
                                </div>
                                <div class="text-area">
                                    <h6 class="m-0">Esports Black Shirt</h6>
                                    <p class="mdtxt prize-area mt-2">$ 19.99 USD X 01</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" class="d-flex align-items-center">
                                <div class="img-area d-center">
                                    <img src="/assets/images/products-image-11.png" class="max-un" alt="image">
                                </div>
                                <div class="text-area">
                                    <h6 class="m-0">Esports Black Shirt</h6>
                                    <p class="mdtxt prize-area mt-2">$ 19.99 USD X 01</p>
                                </div>
                            </a>
                        </li>
                        <li class="total-cart-area mt-2 mt-sm-5 py-3 d-flex justify-content-between">
                            <span>Total:</span>
                            <span>$64.99</span>
                        </li> 
                        <li class="d-center">
                            <div class="acc-btn-area">
                                <div class="btn-area mt-2 mt-sm-4 flex-wrap d-flex flex-wrap text-nowrap gap-2 gap-sm-4">
                                    <a href="javascript:void(0)" class="cmn-btn">Shopping cart</a>
                                    <a href="javascript:void(0)" class="cmn-btn alt">Go to checkout</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="single-item chat-area">
                <div class="chat-btn cmn-head position-relative">
                    <img src="/assets/images/icon/chat-icon.png" class="chat-icon max-un" alt="icon">
                    <div class="abs-area">
                        <span class="d-center">3</span>
                    </div>
                </div>
                <div class="main-area chat-content">
                    <div class="chat-item text-nowrap">
                        <div class="chat-top-side">
                            <div class="chat-form">
                                <form action="#">
                                    <div class="form-group py-1 input-area d-flex align-items-center">
                                        <input type="text" placeholder="Search">
                                        <img src="/assets/images/icon/search-icon.png" alt="icon">
                                    </div>
                                </form>
                            </div>
                            <ul>
                                <li>
                                    <img src="/assets/images/leaderboard-img-1.png" alt="image">
                                    <div>
                                        <h6>Prénom Nom</h6>
                                        <p>
                                            <span class="status orange"></span>
                                            offline
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <img src="/assets/images/leaderboard-img-2.png" alt="image">
                                    <div>
                                        <h6>Prénom Nom</h6>
                                        <p>
                                            <span class="status green"></span>
                                            online
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <img src="/assets/images/leaderboard-img-3.png" alt="image">
                                    <div>
                                        <h6>Prénom Nom</h6>
                                        <p>
                                            <span class="status orange"></span>
                                            offline
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <img src="/assets/images/leaderboard-img-4.png" alt="image">
                                    <div>
                                        <h6>Prénom Nom</h6>
                                        <p>
                                            <span class="status green"></span>
                                            online
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <img src="/assets/images/leaderboard-img-5.png" alt="image">
                                    <div>
                                        <h6>Prénom Nom</h6>
                                        <p>
                                            <span class="status orange"></span>
                                            offline
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <img src="/assets/images/leaderboard-img-6.png" alt="image">
                                    <div>
                                        <h6>Prénom Nom</h6>
                                        <p>
                                            <span class="status green"></span>
                                            online
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <img src="/assets/images/leaderboard-img-7.png" alt="image">
                                    <div>
                                        <h6>Prénom Nom</h6>
                                        <p>
                                            <span class="status green"></span>
                                            online
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <img src="/assets/images/leaderboard-img-8.png" alt="image">
                                    <div>
                                        <h6>Prénom Nom</h6>
                                        <p>
                                            <span class="status green"></span>
                                            online
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <img src="/assets/images/leaderboard-img-9.png" alt="image">
                                    <div>
                                        <h6>Prénom Nom</h6>
                                        <p>
                                            <span class="status green"></span>
                                            online
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <img src="/assets/images/leaderboard-img-10.png" alt="image">
                                    <div>
                                        <h6>Prénom Nom</h6>
                                        <p>
                                            <span class="status orange"></span>
                                            offline
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="main">
                            <div class="d-flex px-3 py-2 align-items-center gap-3">
                                <img src="/assets/images/leaderboard-img-1.png" alt="image">
                                <div>
                                    <p>Chat with Vincent Porter</p>
                                </div>
                            </div>
                            <ul class="chat-main">
                                <li class="you">
                                    <div class="entete">
                                        <span class="status green"></span>
                                        <p>Dana</p>
                                        <span class="mdr">10:12AM, Today</span>
                                    </div>
                                    <div class="triangle"></div>
                                    <p class="message">
                                        Which game you play now?
                                    </p>
                                </li>
                                <li class="me">
                                    <div class="entete">
                                        <span class="mdr">10:12AM, Today</span>
                                        <p>Dana</p>
                                        <span class="status blue"></span>
                                    </div>
                                    <div class="triangle"></div>
                                    <p class="message">
                                        I play Stronghold Kingdoms
                                    </p>
                                </li>
                                <li class="me">
                                    <div class="entete">
                                        <span class="mdr">10:12AM, Today</span>
                                        <p>Dana</p>
                                        <span class="status blue"></span>
                                    </div>
                                    <div class="triangle"></div>
                                    <p class="message">
                                        OK
                                    </p>
                                </li>
                                <li class="you">
                                    <div class="entete">
                                        <span class="status green"></span>
                                        <p>Dana</p>
                                        <span class="mdr">10:12AM, Today</span>
                                    </div>
                                    <div class="triangle"></div>
                                    <p class="message">
                                        Which game you play now?
                                    </p>
                                </li>
                                <li class="me">
                                    <div class="entete">
                                        <span class="mdr">10:12AM, Today</span>
                                        <p>Dana</p>
                                        <span class="status blue"></span>
                                    </div>
                                    <div class="triangle"></div>
                                    <p class="message">
                                        I play Stronghold Kingdoms
                                    </p>
                                </li>
                                <li class="me">
                                    <div class="entete">
                                        <span class="mdr">10:12AM, Today</span>
                                        <p>Dana</p>
                                        <span class="status blue"></span>
                                    </div>
                                    <div class="triangle"></div>
                                    <p class="message">
                                        OK
                                    </p>
                                </li>
                            </ul>
                            <div class="chat-footer text-right text-end">
                                <form action="#">
                                    <textarea cols="10" rows="2" placeholder="Type your message"></textarea>
                                    <div class="upload-send px-2 d-flex justify-content-between">
                                        <label for="files1">
                                            <img src="/assets/images/icon/upload-img.png" alt="icon">
                                        </label>
                                        <input type="file" id="files1" class="d-none">
                                        <button type="submit">Send</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-item notifications-area">
                <div class="notifications-btn cmn-head dot">
                    <img src="/assets/images/icon/nofify-icon.png" class="bell-icon max-un" alt="icon">
                    <div class="abs-area notify">
                        <span class="d-center">3</span>
                    </div>
                </div>
                <div class="main-area px-2 py-4 px-sm-4 notifications-content">
                    <div class="head-area d-flex justify-content-between">
                        <h5>Notifications</h5>
                        <span class="mdtxt">Mark all as Read</span>
                    </div>
                    <ul>
                        <li>
                            <a href="javascript:void(0)" class="d-flex">
                                <div class="img-area">
                                    <img src="/assets/images/leaderboard-img-1.png" class="max-un" alt="image">
                                </div>
                                <div class="text-area">
                                    <p><b>Nick Grissom</b> posted a comment on your <span>status update</span></p>
                                    <p class="mdtxt time-area mt-2">2 minutes ago</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" class="d-flex">
                                <div class="img-area">
                                    <img src="/assets/images/leaderboard-img-1.png" class="max-un" alt="image">
                                </div>
                                <div class="text-area">
                                    <p><b>Nick Grissom</b> posted a comment on your <span>status update</span></p>
                                    <p class="mdtxt time-area mt-2">2 minutes ago</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" class="d-flex">
                                <div class="img-area">
                                    <img src="/assets/images/leaderboard-img-1.png" class="max-un" alt="image">
                                </div>
                                <div class="text-area">
                                    <p><b>Nick Grissom</b> posted a comment on your <span>status update</span></p>
                                    <p class="mdtxt time-area mt-2">2 minutes ago</p>
                                </div>
                            </a>
                        </li>
                        <li class="d-center">
                            <a href="javascript:void(0)" class="cmn-btn alt">View all Notifications</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="single-item user-area">
                <div class="profile-area d-flex align-items-center">
                    <span class="user-profile cmn-head d-flex gap-2 align-items-center">
                        <img src="/assets/images/leaderboard-img-1.png" alt="User">
                        <i class="icon-d-arrow-thin"></i>
                    </span>
                </div>
                <div class="main-area user-content">
                    <div class="head-area py-4 text-center">
                        <h5>Hello,</h5>
                        <p class="email-id">x***9@bunlets.com</p>
                    </div>
                    <div class="cash-top">
                        <div class="cash-point d-flex gap-3 align-items-center">
                            <div class="img-area d-center">
                                <img src="/assets/images/icon/cash-icon.png" alt="icon">
                            </div>
                            <div class="info-area">
                                <h5>$150.00</h5>
                                <span>Balance</span>
                            </div>
                        </div>
                        <div class="cash-point">
                            <div class="d-flex justify-content-between">
                                <div class="d-flex gap-3">
                                    <div class="img-area d-center">
                                        <img src="/assets/images/icon/cash-icon.png" alt="icon">
                                    </div>
                                    <div class="info-area">
                                        <h5>50</h5>
                                        <span>Points</span>
                                    </div>
                                </div>
                                <div class="btn-area">
                                    <a href="javascript:void(0)">Exchange</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="acc-btn-area py-4 px-4">
                        <a href="javascript:void(0)" class="account-area d-center justify-content-between">
                            <div class="d-flex gap-2">
                                <span class="icon-item d-center">
                                    <img src="/assets/images/icon/user-6.png" alt="icon">
                                </span>
                                <span>My Account</span>
                            </div>
                            <div class="icon-arrow d-center">
                                <i class="icon-c-arrow-single"></i>
                            </div>
                        </a>
                        <div class="btn-area mt-5 d-flex gap-4">
                            <a href="javascript:void(0)" class="cmn-btn">Deposit</a>
                            <a href="javascript:void(0)" class="cmn-btn alt">Withdraw</a>
                        </div>
                    </div>
                    <div class="bottom-area">
                        <a href="javascript:void(0)" class="d-flex justify-content-center py-3 gap-2">
                            <div class="icon-log">
                                <img src="/assets/images/icon/logout-icon.png" alt="icon">
                            </div>
                            Signout
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Bottom Menu area end -->

    <!-- Footer Area Start -->
    <footer class="footer-section">
        <div class="overlay">
            <div class="call-action">
                <div class="container">
                    <div class="main-content">
                        <div class="row gap-4 gap-lg-0 align-items-center justify-content-between">
                            <div class="col-lg-6">
                                <div class="section-area mb-3">
                                    <h3>Ready to start Your Journey?</h3>
                                </div>
                                <p>Stop Scrolling, Start Playing.Create your account now and earn 500 coins</p>
                            </div>
                            <div class="col-lg-5 d-flex justify-content-lg-end">
                                <div class="btn-area">
                                    <a href="sign-up.html" class="cmn-btn">Register Now!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-area">
                <div class="container">
                    <div class="row wrapper mt-80 mb-80">
                        <div class="col-xl-12 cus-mar d-flex flex-wrap align-items-center justify-content-center justify-content-md-between top-area">
                            <div class="single-box d-flex flex-wrap gap-md-5 gap-3 align-items-center justify-content-center justify-content-md-start">
                                <a href="index.html">
                                    <img src="/assets/images/logo.png" class="logo" alt="logo">
                                </a>
                                <ul class="items gap-3 d-flex flex-wrap align-items-center justify-content-md-start justify-content-center">
                                    <li><a href="index-4.html">Home</a></li>
                                    <li><a href="games.html">Game</a></li>
                                    <li><a href="shop.html">Shop</a></li>
                                    <li><a href="about-us.html">About Us</a></li>
                                    <li><a href="sign-in.html">Support</a></li>
                                </ul>
                            </div>
                            <div class="single-box social">
                                <ul class="d-flex">
                                    <li><a href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="javascript:void(0)"><i class="fab fa-youtube"></i></a></li>
                                    <li><a href="javascript:void(0)"><i class="fab fa-instagram"></i></a></li>
                                    <li><a href="javascript:void(0)"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-bottom">
                    <div class="container">
                        <div class="row gap-md-0 gap-3 justify-content-between">
                            <div class="col-md-6 order-1 order-md-0 text-md-start text-center">
                                <div class="copyright">
                                    <p>Copyright © <a href="index-3.html">Dooplo</a> | Designed by <a href="javascript:void(0)" class="company">Pixelaxis</a></p>
                                </div>
                            </div>
                            <div class="col-md-6 d-flex justify-content-md-end justify-content-center">
                                <ul class="d-flex gap-4 flex-wrap align-items-center">
                                    <li><a href="privacy-policy.html">Privacy</a></li>
                                    <li><a href="terms-conditions.html">Terms & Conditions</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Area End -->

    <!--==================================================================-->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/jquery-ui.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/plugin/jquery.downCount.js"></script>
    <script src="/assets/js/plugin/slick.js"></script>
    <script src="/assets/js/plugin/jquery.nice-select.min.js"></script>
    <script src="/assets/js/plugin/apexcharts.js"></script>
    <script src="/assets/js/plugin/waypoint.min.js"></script>
    <script src="/assets/js/plugin/jquery.magnific-popup.min.js"></script>
    <script src="/assets/js/plugin/wow.min.js"></script>
    <script src="/assets/js/plugin/plugin.js"></script>
    <script src="/assets/js/main.js"></script>
    <script src="/assets/js/copyAfi.js"></script>
</body>

</html>